.dark {
  background-color: #232a36;
}
.dark h3 {
  color: white;
}
.console {
  color: white;
  background-color: #222222;
  max-height: 400px;
  overflow: auto;
}
.console-inner {
  margin: 0px;
}
.prompt {
  color: #008C99;
}
.success,
h3.success {
  color: green;
}
.failure,
h3.failure {
  color: #FC2929;
}
